.navbar-text {
    margin-right: 15px;
}

body {
    padding-top: 51px;
}

.auth-container {
    padding-top: 100px;
}

main {
    min-height: calc(100vh - 51px);
}

#settings-row {
    padding-top: 20px;
    background-image: linear-gradient(#eee 2px, transparent 2px),
    linear-gradient(90deg, #eee 2px, transparent 2px),
    linear-gradient(#eee 1px, transparent 1px),
    linear-gradient(90deg, #eee 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

main div {
    min-height: inherit;
}

.left-col {
    min-height: inherit;
    padding: 0;
    width: 25%;
    float: left;
}

.left-col .ui-resizable-e {
    cursor: col-resize;
    width: 4px;
    background: #178acc;
    right: -4px;
}

.right-col {
    min-height: calc(100vh - 91px);
}

#tree, .objects-div {
    overflow: auto;
    max-height: 200px;
    padding: 0;
}

#tree ul {
    min-height: inherit;
}

/* restyle fancytree */
ul.fancytree-container {
    border: none;
    font-size: 20px;
}
.fancytree-plain.fancytree-container span.fancytree-node.fancytree-active span.fancytree-title,
table.fancytree-ext-table.fancytree-container > tbody > tr.fancytree-active > td,
table.fancytree-ext-table.fancytree-colorize-selected.fancytree-treefocus.table-hover > tbody > tr.fancytree-selected.fancytree-active:hover > td,
table.fancytree-ext-table.fancytree-colorize-selected.table-hover > tbody > tr.fancytree-selected.fancytree-active:hover > td,
table.fancytree-ext-table.fancytree-treefocus.fancytree-container > tbody > tr.fancytree-active > td
{
    background-color: #5db8ec;
}

table.fancytree-ext-table.fancytree-treefocus.fancytree-container > tbody > tr.fancytree-focused span.fancytree-title,
a:focus {
    outline: none;
}

#navbar_tree_btn {
    float: left;
    color: white;
    margin-left: 15px;
    margin-right: 0;
    height: 36px;
}

#navbar_tree_btn:active {
    background: none;
}

@media (min-width: 768px) {
    #main-row div {
        display: block !important;
    }

    ul.fancytree-container {
        font-size: 14px !important;
    }
}

#tree {
    overflow: auto;
    max-height: 200px;
    padding: 0;
}

.objects-div {
    max-height: 200px;
    padding: 0;
}

.navbar-bottom {
    position: fixed;
    bottom:0;
    margin-bottom: 0;
    z-index: 50;
    width: 100%;
    border-radius: 0;
    min-height: 40px;
    max-height: 40px;
}
.navbar-bottom a {
    padding-top: 10px !important;
}

#navbar_bell {
    position: static;
}
.dropdown-menu-edge {
    position: absolute;
    right: 0;
    left: auto;
}


div #user_group_list {
    height: 400px;
    box-sizing: border-box;
}

.indent-top-10 {
    margin-top: 10px;
}

.indent-bottom-10 {
    margin-bottom: 10px;
}