{% extends "base.twig" %}

{# page title #}
{% block pagetitle %}
    {{ L.pagetitle.main }}
{% endblock %}

{# content of navigation bar #}
{% block navbar %}
    {% set active_page = {ad:"active"} %}
    {% include "navbar.twig" %}
{% endblock %}



{# body content #}
{% block pagecontent %}
    <div class="container-fluid">
        <div id="main-row" class="row">
            <div id="tree-col" class="collapse col-sm-4 left-col">
                <div id="tree"></div>
            </div>
            <div class="col-sm-8 right-col collapse in objects-div">
                <table id="objects"
                       class="fancytree-colorize-selected table table-responsive table-bordered table-striped table-hover table-condensed ">
                    <colgroup>
                        <col style="width:26px; max-width: 26px;">
                        <col>
                        <col width="150px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th style="width: 26px; max-width: 26px;"></th>
                        <th>Имя</th>
                        <th>Тип</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}