{% extends "base.twig" %}

{# page title #}
{% block pagetitle %}{{ pagetitle_main }}{% endblock %}

{# content of navigation bar #}
{% block navbar %}
{% endblock %}

{# body content #}
{% block pagecontent %}

<h1>
    {{ greeting }}
</h1>

    <p>

        {{ bye }}
    </p>

{% endblock %}