{% extends "base.twig" %}

{# page title #}
{% block pagetitle %}
    {{ L.pagetitle.settings }}
{% endblock %}

{# content of navigation bar #}
{% block navbar %}
    {% set active_page = {settings:"active"} %}
    {% include "navbar.twig" %}
{% endblock %}



{# body content #}
{% block pagecontent %}
    <div class="container-fluid">
        <div id="settings-row" class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Контроллеры домена</div>
                    <div class="panel-body">dcs</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Общие настройки</div>
                    <div class="panel-body">dcs</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">sd</div>
                    <div class="panel-body">dcs</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">sd</div>
                    <div class="panel-body">dcs</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">sd</div>
                    <div class="panel-body">dcs</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">sd</div>
                    <div class="panel-body">dcs</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}